@font-face {
  font-family: "geistSans";
  src: url("/fonts/Geist/GeistVF.woff") format("woff");
}

@font-face {
  font-family: "geistMono";
  src: url("/fonts/Geist/GeistMonoVF.woff") format("woff");
}
