@import "common";

.body {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  padding: 48px 92px 0 92px;
  background-color: var(--bodyBackground);
  color: var(--bodyForeground);

  line-height: 1.5;

  @include mobile {
    padding: 80px 24px 72px 24px;
  }
}
