/* Body */
.body {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px - 72px);
  padding: 48px 92px 0 92px;
  background-color: var(--bodyBackground);
  color: var(--bodyForeground);
  margin: 0;
  padding: 0;

  line-height: 1.5;

  flex-direction: column; /* Đảm bảo footer luôn ở cuối */
}
