/* Body */
.body {
  display: flex;
  width: 100vw;
  padding: 48px 92px 0 92px;
  background-color: var(--bodyBackground);
  color: var(--bodyForeground);

  line-height: 1.5;
}

/* Kích cỡ màn hình điện thoại */
@media (max-width: 800px) {
  .body {
    padding: 48px 92px 72px 92px;
  }
}
