.footer {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;

  align-items: center;

  justify-content: space-between;
  padding: 17px 43px 17px 43px;

  background-color: var(--footerBackground);
  color: var(--footerForeground);

  border-top: 1px solid var(--border);
}

.icon {
  cursor: pointer;
  color: #838b98;
  transition: color 0.3s ease;

  .active {
    color: #0c1024; /* Màu đen khi được chọn */
  }
}

/* Kích cỡ màn hình điện thoại */
@media (max-width: 800px) {
  .footer {
    display: flex;
  }
}
