/* Logo */
.logo {
  gap: 12px;
  justify-content: left;
  flex: 1;

  label {
    @apply font-manrope;
    font-weight: 800;
    font-size: 20px;
  }
}

/* Thanh tìm kiếm */
.search {
  display: flex;
  align-items: center;
  padding: 9px 24px 9px 24px;

  width: 40%;
  flex: 2;
  height: 44px;
  border: 1px solid var(--searchBorder);
  border-radius: 8px;

  gap: 12px;
  transition: border-color 0.2s ease;

  input {
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    transition: transform 0.3s ease;

    font-weight: 400;
    font-size: 14px;
  }

  .mobile {
    border-radius: 6px;
  }
}

.search:focus-within {
  border-color: var(--searchFocusBorder);
}

.search-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.search:focus-within .search-icon {
  transform: translateX(-20px);
  opacity: 0;
  visibility: hidden;
}

.search:focus-within input {
  transform: translateX(calc(-20px - 12px));
}

/* Cài đặt */
.option {
  justify-content: right;
  gap: 16px;
  flex: 1;
  font-weight: 500;
  font-size: 14px;
  color: #27364b;
}

/* Nút quay về */
.back {
  padding: 5px 12px; /* Giảm padding để thu nhỏ thẻ */
  width: 85px;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  color: #5d6778;
}

/* Tình trạng tài khoản */
.account-status {
  justify-content: right;
  gap: 16px;
  color: #5d6778;

  label {
    font-weight: 500;
    font-size: 12px;

    border: 1px solid #ecf0f5;
    padding: 2px 12px 2px 12px;
    border-radius: 999px;
  }
}

/* Set up Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 20px 92px 0 92px;

  background-color: var(--headerBackground);
  color: var(--headerForeground);

  border-bottom: 1px solid var(--headerBorder);
}

.web {
  display: flex;
}

.mobile {
  height: 72px;
  padding: 14px 24px 14px 24px;
  display: none;
}

/* Kích cỡ màn hình điện thoại */
@media (max-width: 800px) {
  .mobile {
    display: flex;
  }

  .web {
    display: none;
  }
}

/* Các phần tử khác */
.container {
  display: flex;
  align-items: center;
}

.single-element {
  justify-content: center;

  .logo {
    flex: none;
    width: auto;
  }
}
