.wrapper_header {
  @apply fixed inset-x-0 top-0 shadow hidden h-[80px] z-10 bg-neutral-white-900;
  @apply tablet:flex;

  .wrapper_child {
    @apply flex w-full px-[92px] tablet:grid grid-cols-12 tablet:gap-[40px] content-center justify-items-center;

    .logo {
      @apply flex w-full items-center gap-x-4 col-span-3;
    }

    .search {
      @apply items-center border border-neutral-300 gap-3 transition-[border-color] duration-[0.2s] ease-[ease] py-[9px] rounded-md border-solid relative flex w-full overflow-hidden col-span-6 max-w-[582px];

      input {
        @apply transition-transform duration-[0.3s] ease-[ease] text-sm border-none ml-[60px] w-full;
        outline: none;
      }

      .search-icon {
        transition:
          transform 0.3s ease,
          opacity 0.3s ease;
      }

      &:focus-within {
        @apply border-neutral-500;

        input {
          transform: translateX(calc(-20px - 12px));
        }
        .search-icon {
          transform: translateX(-20px);
          opacity: 0;
          visibility: hidden;
        }
      }

      border-radius: 6px;
    }

    .user {
      @apply flex w-full items-center justify-end col-span-3 gap-x-5;
    }
  }
}

.wrapper_header_mobile {
  @apply col-span-12 px-6 py-[20px] shadow-md h-[72px] block fixed top-0 bg-neutral-white-900 inset-x-0;
  @apply tablet:hidden;
}
