.navigation {
  @apply col-span-3 hidden w-full max-w-[290px] tablet:block;
}

.navigation_mobile {
  @apply fixed -bottom-[1px] z-10 bg-neutral-white-900 inset-x-0 w-full py-[17px] px-[43px] flex items-center gap-[74px] justify-center;
  @apply tablet:hidden;

  .icon {
    cursor: pointer;
    color: #838b98;
    transition: color 0.3s ease;

    .active {
      color: #0c1024;
    }
  }
  img {
    @apply rounded-full;
  }
}
